.option {
    display: flex;
    justify-content: space-between;
    padding: $l-size $m-size;
    border-bottom: 1px solid lighten($light-blue, 10%);
}

.option__text {
    color: white;
    font-size: $m-size;
    word-break: break-all;
}